<ion-view view-title="comments">
    <ion-nav-buttons side="left">
        <button ng-click="$ionicGoBack()"
            class="button back-button buttons button-clear header-item">
            <i class="icon ion-android-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item class="item-avatar">
                <img src="img/adam.jpg" alt="">
                <h2>Mike</h2>
                <p>Un comentario.</p>
            </ion-item>
            <ion-item class="item-avatar">
                <img src="img/adam.jpg" alt="">
                <h2>Mike</h2>
                <p>Un comentario.</p>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar keyboard-attach class="item-input-inset">
        <label class="item-input-wrapper">
            <input type="text" placeholder="Agrega tu Comentario">
        </label>
        <button class="button button-dark button-clear">Enviar</button>
    </ion-footer-bar>
</ion-view>