<ion-view view-title="Actividad">
    <ion-content class="activity">
        <ion-list>
            <ion-item class="item-avatar item-button-right">
                <img src="img/adam.jpg" alt="">
                <p><strong>Adam</strong> a iniciado a seguirte.</p>
                <button class="button button-positive button-outline">
                    <i class="icon ion-android-person-add"></i>
                </button>
            </ion-item>
            <ion-item class="item-avatar item-button-right">
                <img src="img/adam.jpg" alt="">
                <p><strong>Ben</strong> a iniciado a seguirte.</p>
                <button class="button button-balanced">
                    <i class="icon ion-person"></i>
                </button>
            </ion-item>
            <ion-item class="item-avatar item-button-right">
                <img src="img/adam.jpg" alt="">
                <p><strong>Adam</strong> a iniciado a seguirte.</p>
                <button class="button button-positive button-outline">
                    <i class="icon ion-android-person-add"></i>
                </button>
            </ion-item>
            <ion-item class="item-avatar item-button-right">
                <img src="img/adam.jpg" alt="">
                <p><strong>Ben</strong> a iniciado a seguirte.</p>
                <button class="button button-balanced">
                    <i class="icon ion-person"></i>
                </button>
            </ion-item>
            <ion-item class="item-avatar item-button-right">
                <img src="img/adam.jpg" alt="">
                <p><strong>Adam</strong> a iniciado a seguirte.</p>
                <button class="button button-positive button-outline">
                    <i class="icon ion-android-person-add"></i>
                </button>
            </ion-item>    
        </ion-list>
    </ion-content>
</ion-view>