<ion-view view-title="Chris">
    <ion-content class="profile">
        <!-- Avatar -->
        <div class="row">
            <div class="col col-33">
                <img src="img/adam.jpg" class="full-image img-profile" alt="chris">
            </div>
            <div class="col col-67">
                <div class="row">
                    <div class="col col-33 text-center">
                        118 <br>
                        <small>post</small>
                    </div>
                    <div class="col col-33 text-center">
                        123 <br>
                        <small>followers</small>
                    </div>
                    <div class="col col-33 text-center">
                        213 <br>
                        <small>following</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="button button-profile button-small button-block">
                            Editar profile
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Text -->
        <div class="row">
            <div class="row">
                <div class="col">
                    <h5>Christian Tola</h5>
                    <p>Desarrollador de Software Front-End</p>
                </div>
            </div>
        </div>
        <!-- Buttons -->
        <div class="button-bar">
            <button class="button button-dark button-clear ion-grid"></button>
            <button class="button button-dark button-clear ion-ios-list"></button>
            <a href="#/map" class="button button-dark button-clear ion-ios-location"></a>
            <button class="button button-dark button-clear icon ion-bookmark"></button>
        </div>
        <!-- Gallery -->
        <div class="row row-wrap">
            <div class="col col-33">
                <div class="thumbnail">
                    <img src="img/adam.jpg" alt="img" class="full-image">
                </div>
            </div>
            <div class="col col-33">
                <div class="thumbnail">
                    <img src="img/adam.jpg" alt="img" class="full-image">
                </div>
            </div>
            <div class="col col-33">
                <div class="thumbnail">
                    <img src="img/adam.jpg" alt="img" class="full-image">
                </div>
            </div>
            <div class="col col-33">
                <div class="thumbnail">
                    <img src="img/adam.jpg" alt="img" class="full-image">
                </div>
            </div>
            <div class="col col-33">
                <div class="thumbnail">
                    <img src="img/adam.jpg" alt="img" class="full-image">
                </div>
            </div>
            <div class="col col-33">
                <div class="thumbnail">
                    <img src="img/adam.jpg" alt="img" class="full-image">
                </div>
            </div>
            <div class="col col-33">
                <div class="thumbnail">
                    <img src="img/adam.jpg" alt="img" class="full-image">
                </div>
            </div>
            <div class="col col-33">
                <div class="thumbnail">
                    <img src="img/adam.jpg" alt="img" class="full-image">
                </div>
            </div>
            <div class="col col-33">
                <div class="thumbnail">
                    <img src="img/adam.jpg" alt="img" class="full-image">
                </div>
            </div>
            <div class="col col-33">
                <div class="thumbnail">
                    <img src="img/adam.jpg" alt="img" class="full-image">
                </div>
            </div>
            <div class="col col-33">
                <div class="thumbnail">
                    <img src="img/adam.jpg" alt="img" class="full-image">
                </div>
            </div>
            <div class="col col-33">
                <div class="thumbnail">
                    <img src="img/adam.jpg" alt="img" class="full-image">
                </div>
            </div>
            <div class="col col-33">
                <div class="thumbnail">
                    <img src="img/adam.jpg" alt="img" class="full-image">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>