<ion-view view-title="search" hide-nav-bar="true">
    <ion-content>
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
            <button class="button button-dark button-clear">Cancel</button>
        </div>
        <div class="row row-wrap">
            <div class="col col-33">
                <img src="img/adam.jpg" class="full-image" alt="img">
            </div>
            <div class="col col-33">
                <img src="img/adam.jpg" class="full-image" alt="img">
            </div>
            <div class="col col-33">
                <img src="img/adam.jpg" class="full-image" alt="img">
            </div>
            <div class="col col-33">
                <img src="img/adam.jpg" class="full-image" alt="img">
            </div>
            <div class="col col-33">
                <img src="img/adam.jpg" class="full-image" alt="img">
            </div>
            <div class="col col-33">
                <img src="img/adam.jpg" class="full-image" alt="img">
            </div>
            <div class="col col-33">
                <img src="img/adam.jpg" class="full-image" alt="img">
            </div>
            <div class="col col-33">
                <img src="img/adam.jpg" class="full-image" alt="img">
            </div>
            <div class="col col-33">
                <img src="img/adam.jpg" class="full-image" alt="img">
            </div>
            <div class="col col-33">
                <img src="img/adam.jpg" class="full-image" alt="img">
            </div>
        </div>
    </ion-content>
</ion-view>