<ion-tabs>
    <!-- Home tabs -->
    <ion-tab icon="ion-home" ui-sref="tab.home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <!-- Home tabs -->
    <ion-tab icon="ion-ios-search" ui-sref="tab.search">
        <ion-nav-view name="tab-search"></ion-nav-view>
    </ion-tab>
    <!-- Home tabs -->
    <ion-tab icon="ion-camera" ui-sref="camera">
        <ion-nav-view name="tab-camera"></ion-nav-view>
    </ion-tab>
    <!-- Home tabs -->
    <ion-tab icon="ion-heart" ui-sref="tab.activity">
        <ion-nav-view name="tab-activity"></ion-nav-view>
    </ion-tab>
    <!-- Home tabs -->
    <ion-tab icon="ion-home" ui-sref="tab.profile">
        <ion-nav-view name="tab-profile"></ion-nav-view>
    </ion-tab>
</ion-tabs>